@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/akrobat-regular.woff2') format('woff2'),
       url('/assets/fonts/akrobat-regular.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/akrobat-bold.woff2') format('woff2'),
       url('/assets/fonts/akrobat-bold.woff') format('woff');
}

@font-face {
  font-family: 'Pribambas';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/pribambas-regular.woff2') format('woff2'),
       url('/assets/fonts/pribambas-regular.woff') format('woff');
}

@font-face {
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/tildaSans-regular.woff2') format('woff2'),
       url('/assets/fonts/tildaSans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Tilda Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/tildaSans-bold.woff2') format('woff2'),
       url('/assets/fonts/tildaSans-bold.woff') format('woff');
}