@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/akrobat-regula.woff2') format('woff2'),
       url('./fonts/akrobat-regula.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/akrobat-bol.woff2') format('woff2'),
       url('./fonts/akrobat-bol.woff') format('woff');
}

@font-face {
  font-family: 'Pribambas';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/pribambas-regula.woff2') format('woff2'),
       url('./fonts/pribambas-regula.woff') format('woff');
}

@font-face {
  font-family: 'Tilda Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/tildasans-regula.woff2') format('woff2'),
       url('./fonts/tildasans-regula.woff') format('woff');
}

@font-face {
  font-family: 'Tilda Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/tildasans-bol.woff2') format('woff2'),
       url('./fonts/tildasans-bol.woff') format('woff');
}